<footer>
  <div class="container-footer-top">
    <div class="ubicacion-content">
      <!-- <div class="place">
          <i class="fas fa-map-marker-alt"></i>
          <p>Av. Fco. De Orellana Km. 1.5 y Juan Tanca Marengo Ed. Cofin, P.3, Of.3</p>
      </div>
      <div class="redes-sociales">
        <a class="fb" href="https://www.facebook.com/CGLogisticsGroup/" target="_blank"><i class="fab fa-facebook-f"></i></a> -->
      <!-- <a class="tw" href=""><i class="fab fa-twitter"></i></a>
        <a class="go" href=""><i class="fab fa-google-plus-g"></i></a> -->
      <!-- </div> -->

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="sect-u">
              <div class="sect-m">
                <i class="fas fa-map-marker-alt"></i>
                <p>Av. Fco. De Orellana Km. 1.5 y Juan Tanca Marengo Ed. Cofin, P.3, Of.3</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="container-logos">
                <div class="img-container">
                    <!-- <img src="../assets/imgs/senae.png" alt=""> -->
                    <img src="https://firebasestorage.googleapis.com/v0/b/plexilabs-e2f3f.appspot.com/o/senae.png?alt=media&token=4e925fd5-bde7-46a0-ba62-db0870941ea2" alt="">
                    <!-- <img src="../assets/imgs/camara.png" alt=""> -->
                    <img src="https://firebasestorage.googleapis.com/v0/b/plexilabs-e2f3f.appspot.com/o/camara.png?alt=media&token=446b39b5-f3ba-4362-9341-7936357f1db3" alt="">
                    <!-- <img src="../assets/imgs/basc.png" alt=""> -->
                    <img src="https://firebasestorage.googleapis.com/v0/b/plexilabs-e2f3f.appspot.com/o/basc.png?alt=media&token=42ddab66-17d7-4b67-8a14-d421b242e00a" alt="">
                    <!-- <img src="../assets/imgs/aseaci.png" alt=""> -->
                    <img src="https://firebasestorage.googleapis.com/v0/b/plexilabs-e2f3f.appspot.com/o/aseaci.png?alt=media&token=281e2ce1-b6e2-4e27-9675-9f46bd97923d" alt="">
                  </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="sect-u">
              <div class="sect-r">
                <p>Visitanos en : </p>
                <a class="fb" href="https://www.facebook.com/CGLogisticsGroup/" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="container-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          Copyright © 2018 · Todos los derechos reservados · Dev37
        </div>
        <div class="col-md-6">
          <div class="email-contact">
            <i class="fas fa-envelope"></i>
            <a href="mailto: info@cglogistics.com.ec"> info@cglogistics.com.ec</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>