<div class="servicios-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Servicios</h2>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="card-servicio">
          <div class="title-s">
            <div class="icon-content-s">
              <i class="fas fa-plane"></i>
            </div>
            <div class="text-title-s">
              <h3>Tranporte Aéreo</h3>
            </div>
          </div>
          <div class="img-s">
            <!-- <img src="../assets/imgs/as.jpg" class="img-fluid" alt=""> -->
            <img src="https://firebasestorage.googleapis.com/v0/b/plexilabs-e2f3f.appspot.com/o/as.jpg?alt=media&token=cc184b84-4c3d-4317-af29-11d1bbd55d3b" class="img-fluid" alt="">
          </div>
          <div class="enlc-s">
            <a [routerLink]="['/servicios','TransporteAéreo']">Ver más
              <i class="fas fa-chevron-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-servicio">
          <div class="title-s">
            <div class="icon-content-s">
              <i class="fas fa-truck"></i>
            </div>
            <div class="text-title-s">
              <h3>Tranporte Terrestre</h3>
            </div>
          </div>
          <div class="img-s">
            <img src="https://firebasestorage.googleapis.com/v0/b/plexilabs-e2f3f.appspot.com/o/ts.jpg?alt=media&token=bd25b190-0b3b-4d1d-88fe-e6da4cd8af61" class="img-fluid" alt="">
          </div>
          <div class="enlc-s">
            <a [routerLink]="['/servicios','TransporteTerrestre']">Ver más
              <i class="fas fa-chevron-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-servicio">
          <div class="title-s">
            <div class="icon-content-s">
              <i class="fas fa-ship"></i>
            </div>
            <div class="text-title-s">
              <h3>Tranporte Marítimo</h3>
            </div>
          </div>
          <div class="img-s">
            <img src="https://firebasestorage.googleapis.com/v0/b/plexilabs-e2f3f.appspot.com/o/ms.jpg?alt=media&token=52563be2-e0c4-45f9-b869-867b10f43381" class="img-fluid" alt="">
          </div>
          <div class="enlc-s">
            <a [routerLink]="['/servicios','TransporteMarítimo']">Ver más
              <i class="fas fa-chevron-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-servicio">
          <div class="title-s">
            <div class="icon-content-s">
              <i class="fas fa-suitcase"></i>
            </div>
            <div class="text-title-s">
              <h3>Embalaje</h3>
            </div>
          </div>
          <div class="img-s">
            <img src="https://firebasestorage.googleapis.com/v0/b/plexilabs-e2f3f.appspot.com/o/es.jpg?alt=media&token=6ee67b3a-9b6b-4811-a320-b5112e4b64a9" class="img-fluid" alt="">
          </div>
          <div class="enlc-s">
            <a [routerLink]="['/servicios','Embalaje']">Ver más
              <i class="fas fa-chevron-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-servicio">
          <div class="title-s">
            <div class="icon-content-s">
              <i class="fas fa-clipboard"></i>
            </div>
            <div class="text-title-s">
              <h3>Servicio Aduanal</h3>
            </div>
          </div>
          <div class="img-s">
            <!-- <img src="../assets/imgs/adus.jpg" class="img-fluid" alt=""> -->
            <img src="https://firebasestorage.googleapis.com/v0/b/plexilabs-e2f3f.appspot.com/o/adus.jpg?alt=media&token=4518a093-caea-4973-b495-382919629898" class="img-fluid" alt="">
          </div>
          <div class="enlc-s">
            <a [routerLink]="['/servicios','ServicioAduanal']">Ver más
              <i class="fas fa-chevron-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>