<div class="nosotros-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Nosotros</h2>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <div class="container-m-v">
          <div class="row">
            <div class="col-md-3">
              <img src="https://firebasestorage.googleapis.com/v0/b/plexilabs-e2f3f.appspot.com/o/mision.jpg?alt=media&token=58f7ad17-d1ee-4be0-9f19-fb21b8fb8b65" class="img-fluid" alt="">
            </div>
            <div class="col-md-9">
              <h5>MISIÓN</h5>
              <p><strong>CGLogistics S.A.</strong> es una empresa dedicada al transporte de Carga Marítima, Aérea y Terrestre, tanto nacional como internacionalmente. Tiene como una de sus prioridades dar un valor agregado a nuestros clientes en sus diferentes necesidades de servicios locales y globales; además de promover la eficiencia en los servicios de transporte de carga, servicios post-venta, servicios de asesoría y atención personalizada. y ofrecer bajos costos.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="container-m-v">
          <div class="row">
            <div class="col-md-9">
              <h5>VISIÓN </h5>
              <p>Ser la mejor opción de Logística Integral de Ecuador, ofreciendo los mejores costos del mercado y puntualidad en los servicios prestados, así como también la seguridad que demandan los mismos. </p>
            </div>
            <div class="col-md-3">
              <img src="https://firebasestorage.googleapis.com/v0/b/plexilabs-e2f3f.appspot.com/o/vision.jpg?alt=media&token=fdddd0d9-39e8-48b1-a8e0-bd77d8f95e7d" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="container-m-v">
          <div class="row">
            <div class="col-md-12">
              <h5 class="text-center">VALORES</h5>
              <div class="row">
                <div class="col-md-6">
                  <p>
                    <strong>
                      <i class="fas fa-check-square"></i> Calidad:</strong> Nuestro personal es altamente calificado y cuenta con amplia experiencia y trayectoria en el campo de Freight Forwarding. Cubre todas sus necesidades para que sus embarques tengan un servicio profesional, con la máxima seguridad y puntualidad que requieren sus cargas.</p>

                  <p>
                    <strong>
                      <i class="fas fa-cogs"></i> Innovación:</strong> Teniendo la capacidad de poner en práctica ideas que generen un resultado exitoso.
                  </p>
                  <p>
                    <strong>
                      <i class="fas fa-handshake"></i> Compromiso:</strong> Actuando dentro de la verdad, con honradez, responsabilidad y total transparencia.</p>

                </div>
                <div class="col-md-6">
                  <p>
                    <strong>
                      <i class="fas fa-users"></i> Integración:</strong> Los miembros del equipo comparten los mismos objetivos, planes, estrategias y errores, logrando conjuntamente que los objetivos grupales prevalezcan sobre los objetivos individuales.</p>
                  <p>
                    <strong>
                      <i class="fas fa-ship"></i> Eficiencia:</strong> Brindando atención de manera fluida, con la mejor disposición y rapidez.
                  </p>
                  <p>
                    <strong>
                      <i class="fas fa-chart-line"></i> Perseverancia:</strong> Ante situaciones desfavorables o no deseadas, manteniendo vivo el espíritu del mejoramiento continuo.</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>