<div class="herramientas-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Herramientas</h2>
      </div>
    </div>
    <hr>
    <div class="herramientas-bg">
      <div class="row">
        <div class="col-md-6">
          <div class="herramientas-container">
            <ul>
              <li>
                <a href="../assets/files/incoterms.pdf" target="_blank">
                  <i class="fas fa-wrench"></i>
                  INCOTERM</a>
              </li>
              <li>
                <a href="../assets/files/packing.pdf" target="_blank">
                  <i class="fas fa-wrench"></i>

                  TIPO DE BULTOS / PACKING IDENTIFICATION</a>
              </li>
              <li>
                <a href="../assets/files/dgsticker.pdf" target="_blank">
                  <i class="fas fa-wrench"></i>

                  DG STICKER SYMBOL</a>
              </li>
              <li>
                <a href="../assets/files/contenedores.pdf" target="_blank">
                  <i class="fas fa-wrench"></i>

                  TIPOS DE CONTENEDORES Y MEDIDAS</a>
              </li>
              <li>
                <a href="http://www.convertworld.com/converters/popup.php?l=es&c=currency&t=yb" target="_blank">
                  <i class="fas fa-wrench"></i>

                  CONVERTIDOR DE MONEDAS</a>
              </li>
              <li>
                <a href="http://www.convertworld.com/converters/popup.php?l=es&c=length&t=yb" target="_blank">
                  <i class="fas fa-wrench"></i>

                  CONVERTIDOR DE MEDIDAS</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="herramientas-container">
            <ul>
              <li>
                <a href="http://www.convertworld.com/converters/popup.php?l=es&c=weight&t=yb" target="_blank">
                  <i class="fas fa-wrench"></i>

                  CONVERTIDOR DE PESOS</a>
              </li>
              <li>
                <a href="../assets/files/menaje.pdf" target="_blank">
                  <i class="fas fa-wrench"></i>

                  MENAJE DE CASA Y EQUIPO DE TRABAJO</a>
              </li>
              <li>
                <a href="../assets/files/exportador.pdf" target="_blank">
                  <i class="fas fa-wrench"></i>

                  COMO OBTENER REGISTRO DE EXPORTADOR</a>
              </li>
              <li>
                <a href="../assets/files/importador.pdf" target="_blank">
                  <i class="fas fa-wrench"></i>

                  COMO OBTENER REGISTRO DE IMPORTADOR</a>
              </li>
              <li>
                <a href="../assets/files/limpieza.contenederos.pdf" target="_blank">
                  <i class="fas fa-wrench"></i>

                  LIMPIEZA DE CONTENEDORES</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>