<div class="empleo-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Empleos</h2>
      </div>
    </div>
    <hr>
    <div class="empleo-container">
      <div class="row">
        <!-- <div class="col-md-3">
          <div class="img-e">
            <img src="../assets/imgs/cv.png" class="img-fluid" alt="">
          </div>
        </div> -->
        <div class="col-md-12">
          <div class="form-empleo">
            <div class="formulario-contacto">
              <h5><i class="fas fa-briefcase"></i>
                ENVIANOS TU HOJA DE VIDA PARA TRABAJAR CON NOSOTROS
              </h5>
              <form action="">
                <div class="row">
                  <div class="col-md-6">
                    <label for="">Nombres</label>
                    <input type="text">
                  </div>
                  <div class="col-md-6">
                    <label for="">Apellidos</label>
                    <input type="text">
                  </div>
                  <div class="col-md-6">
                    <label for="">Teléfono</label>
                    <input type="text">
                  </div>
                  <div class="col-md-6">
                    <label for="">Correo</label>
                    <input type="text">
                  </div>
                  <div class="col-md-12">
                    <label for="">Mensaje</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                  </div>
                  <div class="col-md-12">
                  <br>
                    
                    <input type="file" name="" id="">
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button class="btn-enviar btn btn-block">Enviar
                        <i class="fas fa-file-alt"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>